{% extends "supplier/base.html" %}


{% block body %}
<form method="POST" action="">{% csrf_token %}
    <table>
        <tr>
            <td><lable for="username">Username/email</lable></td>
            <td><input type="text" name="username" id="username" required </td>
        
        </tr>
        <tr>
            <td><lable for="password">Password</lable></td>
            <td><input type="password" name="password" id="password" required> </td>
        </tr>
        <p style="color:red">{{error}}</p>
    </table>
    <button type="submit">Login</button>

</form>



{% endblock body %}